<div ng-app = "app">
  <div ng-controller = "moviesCtrl" ng-init = "setup()">
    <ul>
      Movie Filter: <input ng-model = "movieFilter">
      <div ng-repeat = "movie in movies | filter: movieFilter">
        <li><span ng-click = "showInformation(movie)">{{movie.name}}</span> <button ng-click = "pickEditMovie(movie)">Edit This Movie</button> <button ng-click = "deleteMovie(movie)">Delete Movie</button> </li>
        <ul ng-if = "movie.showInfo">
          <li>Movie Run Time: {{movie.length}} minutes</li>
          <li>Year of Release: {{movie.year}}</li>
          <li>Summary: {{movie.description}}</li>
        </ul>
      </div>
    </ul>
    <div ng-if = "editingMovie">
      <h3>Edit Movie</h3>
      <p>Name: <input ng-model = "editingMovie.name"></p>
      <p>Length: <input ng-model = "editingMovie.length"></p>
      <p>Description: <input ng-model = "editingMovie.description"></p>
      <p>Year: <input ng-model = "editingMovie.year"></p>
      <p> <button ng-click = "updateMovie(editingMovie)">Update Movie</button> </p>
    </div>
    <div>
      <h2>Add New Movie(ONLY STAR WARS)</h2>
      <div ng-if = "errors" style = "color: red">
        <ul>
          <li ng-repeat = "error in errors">{{error}}</li>
        </ul>
      </div>
      <p>Name: <input ng-model = "newName"></input></p>
      <p>Length: <input ng-model = "newLength"></p>
      <p>Description: <input ng-model = "newDescription"></p>
      <p>Year: <input ng-model = "newYear"></p>
      <p><button ng-click = "addMovie(newName, newLength, newDescription, newYear)">Add New (Star Wars) Movie</button></p>
    </div>
  </div>
</div>