<div ng-app = "app">
  <div ng-controller = "moviesCtrl" ng-init = "setup()">
    <ul>
      <div ng-repeat = "movie in movies">
        <li ng-click = "showInformation(movie)">{{movie.name}}</li>
        <ul ng-if = "movie.showInfo">
          <li>Movie Run Time: {{movie.length}}</li>
          <li>Year of Release: {{movie.year}} minutes</li>
          <li>Summary: {{movie.description}}</li>
        </ul>
      </div>
    </ul>
  </div>
</div>